## Function to Call Students randomly

In [22]:
import numpy.random as rng
students = ["Student No: 1", "Student No: 2", "Student No: 3", "Student No: 4", "Student No: 5", "Student No: 6",
            "Student No: 7", "Student No: 8", "Student No: 9",  "Student No: 10"]

def caller(): 
    return rng.choice(students)

# Intro to Python

## Data Types

### What type of data structures are there in Python? What are the use cases

Int - Double - Float - String - Char - List - Set - Dict

In [2]:
a = 5

b = 5.

In [3]:
c = "Welcome to Workshop"

d = "M"

e = [1,2,3,4]

In [4]:
f = set ([1,1,1,2,2,3,4,5,6])

dct = {
    
    a : 6,
    
    b : "I am a string",
    
    c : 100,
    
    d : 5,
    
    "x" :5
}

In [5]:
caller()

'Student No: 7'

In [6]:
dct.values(), dct.keys() , dct.items()

([100, 5, 'I am a string', 5],
 ['Welcome to Workshop', 'M', 5, 'x'],
 [('Welcome to Workshop', 100), ('M', 5), (5, 'I am a string'), ('x', 5)])

## Lists and Its Operations

In [7]:
lst = ["Python"," Data Science","Big Data"]

In [8]:
lst[2]*4

'Big DataBig DataBig DataBig Data'

In [9]:
"Big Data"*8

'Big DataBig DataBig DataBig DataBig DataBig DataBig DataBig Data'

In [10]:
"Python"+"is awesome"

'Pythonis awesome'

In [11]:
lst.pop()

'Big Data'

In [12]:
x = [1,2,3,4,5]

** Ask  **:

- What happens at x[5]?

- What about at x[-1]?

- What about at x[-3]

- What is mutable and immutable in Python

### Mutable example - Immutable Example

*** TYPES The following are some immutable objects: ***
- int
- float
- decimal
- bool
- string
- tuple

In [13]:
s = "abc"
id(s)

4301126752

In [14]:
a = 5
id(a)

4298160968

In [15]:
a = 4
id(a)

4298160992

In [16]:
s = s + "1"

In [17]:
id(s)

4457935376

*** The following are some mutable objects: ***
- list
- dict
- set (to be covered)

### A bit more list operations

In [18]:
students = ['Yunus Emre', 'Danial', 'Sayyed', 'Mike', 'Elon Musk']
students[4]

students[2:3]

['Sayyed']

In [19]:
caller()

'Sayyed'

In [20]:
students.append('Sam')
students.remove('Sam')

students.append(['john', 'tim'])
students += ['john', 'tim']

In [24]:
caller()

'Student No: 2'

## Independent Practice ( 15 mins )
Explore the built in functions of lists and take notes next to it based ont he function:

- append
- extend
- insert
- remove(item)
- sort()
- count(item)
- index(item)
- pop()
- reverse()

## What is comprehensive lists in Python?

In [25]:
numbers = [1,2,3,4,5]

In [26]:
nums_plus_one = []
for i in numbers:
    a = i+1
    nums_plus_one.append(a) # or just append(i+1)

In [27]:
nums_plus_one

[2, 3, 4, 5, 6]

In [28]:
nums_plus_one = [x + 1 for x in numbers]
nums_plus_one

[2, 3, 4, 5, 6]

### Nested Loops

In [29]:
import string
vowels = ['a', 'e', 'i', 'o', 'u']
alphabet = string.ascii_lowercase

# simple list comprehension to get non-vowel letters:
consonants = [x for x in alphabet if x not in vowels]

# get all the syllables for each consonant + vowel pair in nested consonant-syllable lists:
syllables = [[c + v for v in vowels] for c in consonants]

syllables = [
  s
  for syls in syllables
  for s in syls
]

### Nested Dict

In [30]:
keys = ['dog', 'cat', 'bird', 'horse']
legs = [4, 4, 2, 4]

z = {key: value for key, value in zip(keys, legs)}

## Loops and Dict

What does the * do ?

In [31]:
myDict = {'age': ['12'], 'address': ['34 Main Street, 212 First Avenue'],
      'firstName': ['Alan', 'Mary-Ann'], 'lastName': ['Stone', 'Lee']}

In [32]:
myDict.keys()

['lastName', 'age', 'firstName', 'address']

In [33]:
type(myDict["age"])

list

In [34]:
if ['Alan', 'Mary-Ann'] in myDict.values():
    print "Hello"

Hello

## OOP

In [35]:
def product(*nums):
    init = 1
    print nums 
    for n in nums:
        init *= n
    return init

In [36]:
print product(1)
print product(1, 2, 3, 4)
print product(4, 6, 101323)

(1,)
1
(1, 2, 3, 4)
24
(4, 6, 101323)
2431752

In [37]:
class Vehicle:
    def __init__(self, number_of_wheels, type_of_tank, seating_capacity, maximum_velocity):
        self.number_of_wheels = number_of_wheels
        self.type_of_tank = type_of_tank
        self.seating_capacity = seating_capacity
        self.maximum_velocity = maximum_velocity

    def number_of_wheels(self):
        return self.number_of_wheels

    def set_number_of_wheels(self, number):
        self.number_of_wheels = number

In [38]:
tesla = Vehicle(4, "electric",2,300)

In [39]:
tesla.set_number_of_wheels(5)

In [40]:
tesla.number_of_wheels

5

!!! # GO TO PYTHON REMINDER - IN CLASS REMINDER

## Exception Handling

What is expection handling?

- What methods can you think of doing it

#### Is instance

In [41]:
isinstance ({'a':1, 'b':2}, dict)

True

In [42]:
isinstance ([1,2,3], dict)

False

#### Assertation

In [43]:
age = 25
assert age >= 21, "not old enough! BAD!"

age = 20
assert age >= 21, "not old enough! BAD! Can't drink"

AssertionError: not old enough! BAD! Can't drink

#### Exception Handling

In [44]:
try:
    
    # Your Code Block goes here

except:
    
    # Run this in a specific error

IndentationError: expected an indented block (<ipython-input-44-0bc5252ba5cf>, line 5)

##### A very good example for exception use case

In [45]:
def marketing_emails(emails):
    '''Iterates through marketing emails and sends valid emails with valid syntax
    INPUT: list
    OUTPUT: list'''
    # store invalid emails 
    collect_bad_emails = []
    # iterate through eamils
    for email in emails:
        # try to send an email to a user
        try:
            assert isinstance(email, str)
            send_email(email)
        # if AssertionError is raised, then the email had invalid syntax. 
        except AssertionError :
            collect_bad_emails.append(email)
            
    return collect_bad_emails

*** check to see what type of errors are there ***

## Lambda

In [46]:
lst = [1,2,3,4,5]
squaredList = map(lambda x: x*x, lst)
print(squaredList)

[1, 4, 9, 16, 25]

In [47]:
def filterfunc(x):
    return x % 3 == 0
mult3_wf = filter(filterfunc, [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [48]:
mult3 = filter(lambda x: x % 3 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [49]:
mult3

[3, 6, 9]

In [50]:
mult3_wf

[3, 6, 9]

filter , map , reduce - quick intro and explanation

In [51]:
list = [1,2,3,4,5]
s = reduce(lambda x,y: x+y,  list)
print(s)

15

#### Higer order functions

    Zip and Enumerate
    
    1 - Use cases
    
    2 - Syntax

### Generators

In [52]:
# a generator that yields items instead of returning a list
def firstn(n):
    num = 0
    while num < n:
        yield num
        num += 1
sum_of_first_n = sum(firstn(1000000))

In [53]:
sum_of_first_n

499999500000